@charset "utf-8";
/* CSS Document */
body, h1,h2,h3,p{
margin:0;
padding:0;}

.banner{
width:100%;
background:#801ccc;
text-align:center
}
#b1{
background-image:url(backhead1.jpg);
height:820px;}
#b2{
background:url(background-1716728_1920.png) no-repeat;
height:640px;
color:white;}
#b3{
background:url(black-felt.png);
height:600px;
color:white;}
#b4{
background:url(289258.png) no-repeat;
height:720px;
color:white;}
#b5{
background:url(bright-squares.png);
height:742px;
color:white;}
#b6{
background:url(background-1716728_1920.png) no-repeat;
height:843px;
color:white;}
#b8{
background:url(unnamed.jpg);
height:750px;}
#faqlink{
background-color: #1cccb0;
    border-radius: 5px;
    color: #eeeddd;
    display: block;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.53;
    text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
    padding: 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.29);
    width: 198px;
	    margin-left: auto;
    margin-right: auto;
    position: relative;
	}
#vozfaqhead{
line-height: 48px;
    font-size: 42px;
    padding: 2px 10px;
    margin: 30px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #801ccc;
    color: #FFFFFF;
	font-family: 'Fira Sans', sans-serif;
	}
.QNA{
margin:25px 0;
}
.QNA > h3{
font-family: 'Open Sans', sans-serif;
font-size:22px;
letter-spacing:.6px;
margin:4px 0;}
.QNA > p{
font-size:18px;
text-align:justify;
letter-spacing:.3px;
color:#444444;
font-family: 'Roboto Condensed', sans-serif;
}
#faq>p{
font-size:24px;
font-family: 'Open Sans', sans-serif;
letter-spacing:.6px;
text-align:center;
color:red;
margin:0 0 15px 0;
}
#backlink{
background-color: #801ccc;
    border-radius: 5px;
    color: #eeeddd;
    display: block;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.53;
    text-align: center;
    padding: 15px;
	font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.29);
    width: 198px;
	    margin-left: auto;
    margin-right: auto;
    position: relative;
	}
	
#faq{
width:70%;
margin:30px auto 90px;
}
#b1> h1{
    font-size: 70px;
    padding: 20px 0 5px;
    width: 14%;
    margin: 0 auto;
    color: white;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing:2px;}
	
#b2> h3{
    font-size: 70px;
    padding: 100px 0 10px;
    margin: 0 auto;
    color: white;
    width: 50%;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;}

#b3 > h3{
    font-size: 70px;
    padding: 120px 0 60px;
    margin: 0 auto;
    color: white;
    width: 65%;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;}
#b4 > h3{
    font-size: 70px;
    padding: 120px 0 60px;
    margin: 0 auto;
    color: white;
    width: 70%;
	text-align:left;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;}
#b5 > h3{
    font-size: 70px;
    padding: 120px 0 60px;
    margin: 0 auto;
    color: white;
    width: 70%;
	text-align:left;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;}
	
#b1 > h2{
    color: white;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 900;
    background: #801ccc;
    width: 55%;
    margin: 10px auto 0;
    font-family: 'Open Sans', sans-serif;
}
#b8 > h2{
    font-size: 32px;
    padding: 80px 0 80px;
    margin: 0 auto;
    color: white;
    width: 80%;
	text-align:left;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;}
#b8 > h3{
    font-size: 28px;
    padding: 10px 0 60px;
    margin: 0 auto;
    color: white;
	text-align:left;
    width: 80%;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .8px;}
.contact{
    font-size: 20px;
    margin: 0 auto;
    color: white;
    width: 80%;
    height: 170px;
    display: block;
    text-align: left;
font-family: 'Open Sans', sans-serif;
    letter-spacing: .5px;
}
.contactd{    display: block;
    float: left;
    width: 33%;}
#b1> p{
    font-size: 17px;
	color:white;
    letter-spacing: 0.6px;
    background: #801ccc;
    width: 50%;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
	}
#b2> p{
    font-size: 21px;
    letter-spacing: 0.6px;
    width: 70%;
    margin: 10px auto;
    font-family: 'Roboto Condensed', sans-serif;
	}
	
#b3> ul> li{
font-size: 22px;
    letter-spacing: 0.6px;
    width: 61%;
    text-align: left;
    margin: 10px auto;
    font-family: 'Roboto Condensed', sans-serif;
	}
#b4> ul> li{
font-size: 23px;
    letter-spacing: 0.6px;
    width: 70%;
    text-align: left;
    margin: 10px auto;
    font-family: 'Roboto Condensed', sans-serif;
	}
#b5> ul> li{
font-size: 23px;
    letter-spacing: 0.6px;
    width: 70%;
    text-align: left;
    margin: 10px auto;
    font-family: 'Roboto Condensed', sans-serif;
	}
	
	#b6 > iframe{
	padding:100px;
	height:640px;
	width:640px;
	}
@media only screen and (max-width: 720px) {
#faq{
width:90%;
margin:20px auto 60px;
}

}
@media only screen and (max-width: 448px) {
.QNA{
margin:15px 0;}
.QNA > h3{
font-size:20px;}
.QNA > p{
font-size:16px;
}
#faq>p{
font-size:20px;
margin:0 0 10px 0;
}
#vozfaqhead{
line-height: 40px;
    font-size: 30px;
    padding: 2px 5px;
    margin: 15px 0;
	}
	#backlink{
    font-size: 16px;
    line-height: 18px;
    padding: 18px 26px;
	}
	
	#b1> h1{
    font-size: 50px;
    padding: 20px 0px 5px;
    width: 100%;
	text-shadow: 2px 2px 4px #000000;
}
	
#b2> h3{
    font-size: 32px;
    padding: 20px 0px 10px;
    width: 90%;}

#b3 > h3{
    font-size: 32px;
    padding: 20px 0px 10px;
	    width: 90%;}
#b4 > h3{
    font-size: 32px;
    padding: 20px 0px 10px;
	    width: 90%;}
#b5 > h3{
    font-size: 32px;
    padding: 120px 0px 10px;
	    width: 90%;}
	
#b1 > h2{
    font-size: 26px;
    padding: 5px 0px 5px;
	    width: 90%;
		text-shadow: 2px 2px 4px #000000;
		background:none;
}
#b8 > h2{
    font-size: 20px;
    padding: 80px 0px 5px;
	    width: 90%;}
#b8 > h3{
    font-size: 20px;
    padding: 40px 0px 5px;
	text-align:center;
	    width: 90%;}
.contact{
    font-size: 18px;
    padding: 10px 0px 5px;
	    width: 90%;
		text-align:center;
		height:350px;
}
.contactd{    display: block;
    float: none;
	width:90%;
	padding:13px;}
#b1> p{
    font-size: 18px;
    width: 90%;
		background:none;
		text-shadow: 2px 2px 4px #000000;
		font-weight:600;
	}
#b2> p{
    font-size: 18px;
    width: 90%;
	}
	
#b3> ul> li{
font-size: 18px;
    width: 90%;
	}
#b4> ul> li{
font-size: 17px;
    width: 90%;
    margin: 5px auto;
	}
#b5> ul> li{
font-size: 18px;
    width: 90%;
    margin: 5px auto;
	}
	
	#b6 > iframe{
	padding:0px;
	}
	#b1{
background:url(backhead2.jpg) no-repeat;
height:270px;}
#b2{
height:450px;
color:white;}
#b3{
height:450px;
color:white;}
#b4{
background:url(289258.png) no-repeat;
height:450px;
color:white;}
#b5{
height:450px;
color:white;}
	#b6 > iframe{
	padding:80px 0px;
	height:640px;
	width:90%;
	}

}